wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"
domain_name: ".your.domain.org"
ota_password: "CHANGE_ME_STRONG_PASSWORD"
api_encryption_key: "BASE64_32_BYTES"  # generate with: openssl rand -base64 32
ap_password: "CHANGE_ME_AP_PASSWORD"
web_username: "admin"
web_password: "CHANGE_ME_WEB_PASSWORD"
matter_discriminator: 3840  # change to a random value 0-4095
matter_passcode: 20202021   # change to a random value 1-99999998
